<h1>Let's start!</h1>
<h2>Please write your names to play</h2>
<form action = "/names" method= "post">
  <label for="name_one">
    Player 1 name
    <input type="text" name="name_one">
  </label>
  <label for="name_two">
    Player 2 name
    <input type="text" name= "name_two">
  </label>
  <input type="submit" value="Submit">
</form>
